
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-regular.woff') format('woff');
}

/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-italic.woff') format('woff');
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-500.woff') format('woff');
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-700.woff') format('woff');
}

/* roboto-700italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v20-latin-700italic.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin-700italic.woff') format('woff');
}

body {
    font-family: Roboto, sans-serif;
}

svg {
    width: 1.1em;
    vertical-align: middle;
}

label {
    font-weight: bold;
    font-size: .9rem;
}

.file-upload-zone label {
    display: block;
    background-color: rgba(82, 149, 194, 0.1);
    border: 1px solid rgba(82, 149, 194, 1);
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    font-style: italic;
    transition: all ease-in-out 240ms;
}

.file-upload-zone label.drag-over {
    background-color: rgba(20, 100, 150, 0.5);
    border-style: dashed;
    color: #FFF;
}

.file-upload-zone input {
    display: none;
}

.toggle-block .toggle-block-content {
    display: none;
}

.toggle-block:focus-within .toggle-block-content {
    display: block;
}

.toggle-block-content.dropdown-menu {
    max-width: 200px;
}

.show-whitespace {
    white-space: pre-wrap;
}
